/*
!**/.gitignore
**/.DS_Store

!.zshrc
!.zprofile
!.p10k.zsh

!.gitconfig

!.claude/
.claude/*
!.claude/commands/

!.config/
.config/*
!.config/emacs/
!.config/ghostty/
!.config/mise/
!.config/tmux/
!.config/nvim/

!.ssh/
.ssh/*
!.ssh/config

!Library/
Library/*
!Library/Application\ Support/
Library/Application\ Support/*
!Library/Application\ Support/Cursor/
Library/Application\ Support/Cursor/*
!Library/Application\ Support/Cursor/User/
Library/Application\ Support/Cursor/User/*
!Library/Application\ Support/Cursor/User/settings.json
