/*
!**/.gitignore
**/.DS_Store

!.zshrc
!.zprofile
!.p10k.zsh

!.config/
.config/*
!.config/emacs/
!.config/ghostty/
!.config/tmux/
!.config/nvim/

!.ssh/
.ssh/*
!.ssh/config

!Library/
Library/*
!Library/Application\ Support/
Library/Application\ Support/*
!Library/Application\ Support/Cursor/
Library/Application\ Support/Cursor/*
!Library/Application\ Support/Cursor/User/
Library/Application\ Support/Cursor/User/*
!Library/Application\ Support/Cursor/User/settings.json

